{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">
            </select>
            <button data-action="add" id="add-hotel" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">
            </select>
            <button data-action="add" id="add-restaurant" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">
            </select>
            <button data-action="add" id="add-activity" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span>
          <span id="day-title">Day 1</span>
          <button id="remove-day" class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn" id="day-add">+</button>
          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group" id="myHotel">
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group" id="myRestaurant">
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group" id="myActivity">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // var db = [1];
  // var day = 0;
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};
  $.each(hotels, function(index, value) {
      var option = $(document.createElement('option'));
      option.text(value.name);
      option.data("hotel",value);
      $('#hotel-choices').append(option);
  });
  $.each(restaurants, function(index, value) {
      var option = $(document.createElement('option'));
      option.text(value.name);
      option.data("restaurant",value);
      $('#restaurant-choices').append(option);
  });
  $.each(activities, function(index, value) {
      var option = $(document.createElement('option'));
      option.text(value.name);
      option.data("activity",value);
      $('#activity-choices').append(option);
  });

  function typeToId(type) {
    var output = '#my';
    output += type.charAt(0).toUpperCase() + type.substring(1);
    return output;
  }

  function idToType(id) {
    var output = id.substring(2);
    output = output.charAt(0).toLowerCase() + output.substring(1);
    return output;
  }

  function addItineraryItem(type, data) {
    var htmlString = '<div class="itinerary-item">'+
            '<span class="title">'+data.name+'</span>'+
            '<button class="btn btn-xs btn-danger remove btn-circle">x</button></div>';
    $(typeToId(type)).append(htmlString);
    var str = data.name.replace(/\s/g,"_");
    drawMarker(type, data.place.location, str);
  }

  function removeItineraryItem(element) {
    var name = $(element).prev().text().replace(/\s/g,"_");
    $(element).parent().remove();
    var marker = markers[name];
    if (marker) marker.setMap(null);
    return name;
  }

  function removeArrayItem(type, name) {
    var arr = days[currentDay][type];
    var i;
    console.log(days);
    console.log(currentDay);
    console.log(type);
    for (i=0; i<arr.length; i++) {
        if (arr[i].name === name) break;
    }
    arr.splice(i,1);
  }
  function removeAndDeleteItineraryItem() {
    element = this;
    var id = $(element).closest('ul').attr('id');
    var type;
    if (id) type = idToType(id);
    name = removeItineraryItem(element);
     if (type === 'hotel') days[currentDay][type] = null;
    else {
      console.log(days[currentDay][type]);
      removeArrayItem(type, name);
    }
  }

  function addHotel() {
    var data = $( "#hotel-choices option:selected" ).data("hotel");
    addItineraryItem('hotel', data);
    days[currentDay].hotel = data;
  }

  function addRestaurant() {
    var data = $( "#restaurant-choices option:selected" ).data("restaurant");
    addItineraryItem('restaurant', data);
    days[currentDay].restaurant.push(data);
  }

  function addActivity() {
    var data = $( "#activity-choices option:selected" ).data("activity");
    addItineraryItem('activity', data);
    days[currentDay].activity.push(data);
  }

  function updateHotel() {
    let buttons = $('#myHotel button');
    $.each(buttons, function( index, value ) {
      removeItineraryItem(value);
    })
    var hotel = days[currentDay].hotel;
    if (!hotel) return;
    addItineraryItem('hotel', hotel);
  }

  function updateRestaurants() {
     let buttons = $('#myRestaurant button');
    $.each(buttons, function( index, value ) {
      removeItineraryItem(value);
    })
    var restaurants = days[currentDay].restaurant;
    if (restaurants.length === 0) return;
    restaurants.forEach(function(res) {
      addItineraryItem('restaurant', res);
    });
  }

  function updateActivities() {
     let buttons = $('#myActivity button');
    $.each(buttons, function( index, value ) {
      removeItineraryItem(value);
    })
    var activities = days[currentDay].activity;
    if (activities.length === 0) return;
    activities.forEach(function(res) {
      addItineraryItem('activity', res);
    });
  }

  var days = [{}];
  var numDays = 0;
  var currentDay = 1;
  addDay();
  switchDay(null, $("#day1"));

  function removeDay() {
    days.splice(currentDay,1);
    $("#day"+numDays).remove();
    numDays--;
    if (numDays !== 0) {
      if (currentDay > numDays) currentDay--;
      displayDay(currentDay);
    } else {
      addDay();
    }
    $("#day"+currentDay).addClass('current-day');
  }

  function addDay() {
    numDays++;
    var htmlString = '<button class="btn btn-circle day-btn"' + 'id=day' + numDays + '>' +numDays+ '</button>';
    $( "#day-add" ).before(htmlString);
    var day = {
      hotel: null,
      restaurant: [],
      activity: []
    }
    days.push(day);
    switchDay(null,$("#day"+numDays));
  }

  function displayDay(day) {
    $("#day-title").text("Day "+day);
    updateHotel();
    updateRestaurants();
    updateActivities();
  }

  function switchDay(event, element) {
    element = element || this;
    var button = $(element);
    if (button.text() === '+') return;
    var day = Number(button.text());
    $( "#day" + currentDay ).removeClass('current-day');
    button.addClass('current-day');
    currentDay = day;
    displayDay(day);
  }

  $('#add-hotel').on('click',addHotel);
  $('#add-restaurant').on('click',addRestaurant);
  $('#add-activity').on('click',addActivity);
  $('#itinerary').on('click','button', removeAndDeleteItineraryItem);
  $('#day-add').on('click', addDay);
  $('.day-buttons').on('click','button', switchDay);
  $('#remove-day').on('click', removeDay);

  console.log(hotels);
</script>
{% endblock %}
